rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isAnonymous() {
      return request.auth.token.firebase.sign_in_provider == 'anonymous';
    }
    
    function isAuthenticated() {
      return isSignedIn() && !isAnonymous();
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function getRole(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data.role;
    }

    function isAdmin() {
      return isAuthenticated() && (getRole(request.auth.uid) == 'admin' || isSuperAdmin());
    }
    
    function isSuperAdmin() {
      return isAuthenticated() && getRole(request.auth.uid) == 'super_admin';
    }

    // User Profiles
    match /users/{userId} {
      // Only an authenticated user can create their own profile
      allow create: if isAuthenticated() && isOwner(userId);
      // Only owner or admin can get a profile
      allow get: if isAuthenticated() && (isOwner(userId) || isAdmin());
      // Only admins can list users
      allow list: if isAdmin();
      // Only owner or super admin can update
      allow update: if isAuthenticated() && (isOwner(userId) || isSuperAdmin());
    }

    // Cash Games
    match /cashGames/{gameId} {
      // Everyone can read cash game data
      allow get, list: if true;
      // Only admins can create games
      allow create: if isAdmin();
      // Game owner or admin can delete
      allow delete: if isSignedIn() && (resource.data.ownerId == request.auth.uid || isAdmin());

      // Update Rules:
      allow update: if isSignedIn() && 
                    (
                      // Game owner or admin can manage the game fully
                      (resource.data.ownerId == request.auth.uid || isAdmin()) ||
                      // The designated dealer (croupier) can update the handState
                      (request.auth.uid == resource.data.croupierId && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['handState'])) ||
                       // Any signed-in user (including anonymous) can request to join
                      (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['requests']))
                    );
    }

    // Tournaments (Read-only for now for everyone)
    match /tournaments/{tournamentId} {
      allow get, list: if true;
      allow create, update, delete: if false;

      match /rounds/{roundId} {
        allow get, list: if true;
        allow create, update, delete: if false;
      }

      match /payoutStructures/{payoutStructureId} {
        allow get, list: if true;
        allow create, update, delete: if false;
      }
    }
  }
}
