rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function getUserData(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data;
    }
    
    function isRoot() {
      let userData = getUserData(request.auth.uid);
      // Check for nickname instead of email for the root user
      return userData.role == 'root' || userData.nickname == 'victorlucas.ao';
    }

    function isAdmin() {
      let userRole = getUserData(request.auth.uid).role;
      return userRole == 'admin' || isRoot();
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      // Allow user to create their own profile document via a backend function
      allow create: if request.resource.data.uid == request.auth.uid;
      // Root can edit any user. Admins/players can only edit their own profile.
      allow update: if isRoot() || isOwner(userId);
      // Only root can delete users, but not the root user itself.
      allow delete: if isRoot() && request.auth.uid != userId; 
    }

    match /cashGames/{gameId} {
      allow read: if isSignedIn();
      allow create: if isAdmin(); // Only admins can create a game
      allow update: if isAdmin() || request.resource.data.diff(resource.data).affectedKeys().hasOnly(['requests']);
      allow delete: if isAdmin();
    }
  }
}
