rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function getRole(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data.role;
    }

    function isAdmin() {
      return getRole(request.auth.uid) == 'admin' || isSuperAdmin();
    }
    
    function isSuperAdmin() {
        return getRole(request.auth.uid) == 'super_admin';
    }

    // User Profiles
    match /users/{userId} {
      allow create: if isOwner(userId);
      allow get: if isOwner(userId) || isAdmin();
      allow list: if isAdmin();
      allow update: if isOwner(userId) || isSuperAdmin();
    }

    // Cash Games
    match /cashGames/{gameId} {
      allow get, list: if isSignedIn();
      allow create: if isAdmin();
      allow delete: if isSignedIn() && (resource.data.ownerId == request.auth.uid || isAdmin());

      // Update Rules:
      // - Any signed-in user can update 'requests' to join.
      // - The designated dealer can update the 'handState' OR the 'dealerId' to run the game.
      // - The game owner or an admin can update anything else.
      allow update: if isSignedIn() && 
                    (
                      // Allow anyone to request to join
                      request.resource.data.diff(resource.data).affectedKeys().hasOnly(['requests']) ||
                      // Allow the dealer to update the hand state or the dealer button
                      (request.auth.uid == resource.data.dealerId && 
                        (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['handState']) ||
                         request.resource.data.diff(resource.data).affectedKeys().hasOnly(['dealerId']))) ||
                      // Allow owner or admin to manage the game
                      (resource.data.ownerId == request.auth.uid || isAdmin())
                    );
    }

    // Tournaments (Read-only for now)
    match /tournaments/{tournamentId} {
      allow get, list: if isSignedIn();
      allow create, update, delete: if false;

      match /rounds/{roundId} {
        allow get, list: if isSignedIn();
        allow create, update, delete: if false;
      }

      match /payoutStructures/{payoutStructureId} {
        allow get, list: if isSignedIn();
        allow create, update, delete: if false;
      }
    }
  }
}
